.BlogSection {
}

.BlogSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.BlogSection--Grid > * {
  width: calc(100% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .BlogSection--Grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 4rem;
  }

  .BlogSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.BlogSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 888px) {
  .BlogSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .BlogSection--Grid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}
